body {
    width: 99vw; min-height: 500px;
    margin: 0 auto; padding: 10px 10px;
    background-color: snow;
    font-family: 'Open Sans', sans-serif;
} 
body a {
    text-decoration: none !important;
}
.box {

}
.tool {
  display: none;
  width: inherit; height: inherit;
  z-index: 1;
}
/*
  media queries
*/
.pseudobody {
    display: flex; flex-wrap: wrap;
    width: 95vw; height: auto;
    margin-left: auto; margin-right: auto;
}

/*@media (max-width: 680px), screen and (orientation: portrait) { 
    .pseudobody img {
      width: 45%;
      margin: 0 auto;
      padding: /*tb/lr 5px 0;
  }
}
*/

.tool { position: relative; display: inline-block; }
  
  /* Tooltip text */
  .tool .tooltiptext {
    visibility: hidden;
    width: inherit; height: inherit;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 3px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tool:hover .tooltiptext {
    visibility: visible;
  }